<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test">

    <!-- 权限：网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 权限：文件读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 权限： ACCESSIBILITY_SERVICE -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!-- 声明： instrumentation -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.android.test" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Instrument：引入测试库,增加引用android.test.runner的声明================= -->
        <uses-library android:name="android.test.runner" />

        <!-- 主界面：=============================================================== -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 测试文件：=============================================================== -->
        <activity
            android:name=".data.file.TestPoiExcelActivity"
            android:label="@string/title_activity_test_poi_excel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".data.file.TestFileActivity" />

        <!-- 测试UIAutomator：=============================================================== -->
        <activity android:name=".uiautomator.view.TestUIAutomatorActivity" />

        <!-- 测试ListView：=============================================================== -->
        <activity android:name=".view.listview.pulltorefersh.TestPullToRefershListViewActivity" />

        <!-- 测试AIDL：建议在前台Service中开启远程Service ============================= -->
        <service
            android:name=".aidl.PlayerService"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="com.android.test.aidl.PlayerService" />
            </intent-filter>
        </service>

        <activity android:name=".aidl.TestAIDLActivity" />

        <!-- 测试守护进程：=============================================================== -->
        <service
            android:name=".service.guard.GuardService"
            android:enabled="true"
            android:exported="true"
            android:process="guard.GuardService">
            <intent-filter android:priority="1000">
                <action android:name="com.android.test.service.guard.GuardService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.guard.LocalWorkService"
            android:enabled="true"
            android:exported="true"
            android:process="guard.LocalWorkService">
            <intent-filter android:priority="1000">
                <action android:name="com.android.test.service.guard.LocalWorkService" />
            </intent-filter>
        </service>

        <activity android:name=".service.guard.TestGuardServiceActivity" />

        <!-- 测试 ForegroundService：=============================================== -->
        <service android:name=".service.foreground.ForegroundService" />

        <!-- 测试 instrument：=============================================== -->
        <activity android:name=".instrument.TestInstrumentActivity" />

        <!-- 测试 LogTool：=============================================== -->
        <activity android:name=".log.TestLogToolActivity" />

        <!-- 测试 ExpandableListViewActivity：=============================================== -->
        <activity android:name=".view.listview.expandable.TestExpandableListViewActivity" />

        <!-- 测试 AccessibilitySeivice：=============================================================== -->
        <service
            android:name=".accessibility.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/myaccessibilityservice" />
        </service>

        <activity android:name=".view.listview.xlistview.TestXListViewActivity"></activity>
    </application>

</manifest>